In [3]:
#Q1
marks = int(input("Enter your marks"))
if marks>90:
    print("A")
elif marks>80 and marks<=90:
    print("B")
elif marks>=60 and marks<=80:
    print("C")
else:
    print("D")

Enter your marks 80

C

In [10]:
#Q2
price = int(input("Enter cost price"))
if price>100000:
    tax = 15
elif price>50000 and price<=100000:
    tax = 10
elif price<=50000:
    tax = 5
tax = (tax/100)*price
tax

Enter cost price 50000

2500.0

In [2]:
#Q3
city = input("Enter a city name")
if city == "Delhi":
    print("Red Fort")
elif city == "Agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jal Mahal")

Enter a city name Jaipur

Jal Mahal

In [6]:
#Q4
num = int(input("Enter a number"))
count = 0
while num>10:
    num = num/3
    count = count + 1
count

Enter a number 120

3

In [7]:
#Q5
Python While Loop is used to execute a block of statements repeatedly until a 
given condition is satisfied. And when the condition becomes false, 
the line immediately after the loop in the program is executed.

count = 0
while (count<3):
    count = count + 1
    print("Hello World !!!")

SyntaxError: invalid syntax (2453150148.py, line 2)

In [14]:
#Q6

#    *
#    * *
#    * * *
#    * * * *

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  4

*
* *
* * *
* * * *

In [11]:
#Q6

#  * * * * 
#  * * * 
#  * * 
#  * 

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  4

* * * *
* * *
* *
*

In [18]:
#Q6

#  1 
#  2   3 
#  4   5   6 
#  7   8   9  10 


n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [22]:
#Q7

n = int(input("Enter a number"))
while n > 0:
    print(n)
    n = n - 1

Enter a number 10

10
9
8
7
6
5
4
3
2
1